<%- include('includes/head.ejs', { title: 'Blogger | Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main id="error-page">
    <h1>Not authorized!</h1>
    <p>You are not authorized and therefore not allowed to access this page!</p>
  </main>
  <%- include('includes/footer.ejs') %>
</body>
</html>