<%- include('includes/head.ejs', { title: 'Blogger | Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main id="error-page">
    <h1>An error ocurred!</h1>
    <p>Something went wrong - please try again later!</p>
  </main>
  <%- include('includes/footer.ejs') %>
</body>
</html>