<%- include('includes/head.ejs', { title: 'Blogger | Profile' }) %>
  <link rel="stylesheet" href="/styles/base.css">
  </head>

  <body>
    <%- include('includes/header.ejs') %>
      <section>
        <h1 class="heading">My Blog Page</h1>
        <% if (!posts || posts.length===0) { %>

          <main id="hero-section" class="hero-no-posts">
            <div class="hero-content">
              <h2 class="no-posts">No posts yet - Start posting!</h2>
              <form action="/posts/new" method="GET">
                <button class="btn">New Post</button>
              </form>
            </div>
          </main>
          <% } else { %>
            <div class="post-flex">
              <% for(const post of posts) { %>
                <%- include('includes/post-item.ejs', {post: post}) %>
                  <% } %>
            </div>
            <% } %>
      </section>

      <%- include('includes/footer.ejs') %>
  </body>

  </html>