/*******************************************/
/*             Resets & Utils              */
/*******************************************/

:root {
  --primary: #0580d9;
  --secondary: #015895;
  --color-alt: #fff;
  --margin-2: 2rem;
  --margin-4: 4rem;
  --padding-2: 2rem;
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

body {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Roboto", sans-serif;
  color: var(--primary);
}

a {
  text-decoration: none;
  display: block;
}

a:hover {
  color: var(--secondary);
}

img {
  height: 100%;
}

ul {
  list-style: none;
}

section {
  max-width: 68rem;
  margin: var(--margin-2) auto;
}

.heading {
  font-size: 2rem;
  margin: var(--margin-4);
}

.btn {
  color: var(--color-alt);
  font-weight: bold;
  background-color: var(--primary);
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  border: none;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
}

.btn:hover,
.btn:active {
  background-color: var(--secondary);
  color: #fff;
}

hr {
  margin: 1rem 0;
  border: 1px solid var(--primary);
}

/*******************************************/
/*              Home Section               */
/*******************************************/

#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  max-width: 68rem;
  background: no-repeat url("../assets/hero.jpg") center center/cover;
  margin: var(--margin-2) auto;
  padding: 0 var(--padding-2);
  position: relative;
  box-shadow: var(--box-shadow);
}

#hero-section.all-posts {
  background: no-repeat url("../assets/hero2.jpg") center center/cover;
  background-position: ;
}

#hero-section::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: end;
}

.hero-content h1 {
  font-size: 4rem;
}

.hero-content h3 {
  font-size: 2rem;
  color: var(--color-alt);
}

/*******************************************/
/*              Latest Section             */
/*******************************************/

.post-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.post-item {
  width: max(20%, 18rem);
  min-height: 13rem;
  border: 2px var(--primary) solid;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
}

.post-item h3 {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: var(--margin-2);
}

.post-item p {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: var(--margin-2);
}

.post-item p:last-of-type {
  text-align: right;
}

.post-item .author-name {
  font-weight: bold;
}

/*******************************************/
/*                Forms                    */
/*******************************************/

section#form {
  border: 2px var(--primary) solid;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: 30rem;
}

section#form .heading {
  text-align: center;
  margin: var(--margin-2);
}

form {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 0.5rem;
}

#auth-alternative {
  text-align: center;
  margin-bottom: 1rem;
}

#auth-alternative .btn-alt {
  background: none;
  color: var(--primary);
  display: inline;
  box-shadow: none;
}

#auth-alternative .btn-alt:hover {
  color: var(--secondary);
}

.form-control {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input,
textarea {
  font: inherit;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
  width: 100%;
  box-sizing: border-box;
  color: rgb(78, 73, 73);
}

input:focus {
  background-color: rgb(245, 232, 255);
}

#input-error {
  padding: 0.5rem;
  background-color: rgb(251, 217, 217);
  color: rgb(144, 33, 33);
  border-radius: 4px;
  text-align: center;
}

/*******************************************/
/*              Post Page                   */
/*******************************************/

.post-card {
  border: 1px var(--primary) solid;
  border-radius: 10px;
  width: min(50%, 20rem);
  margin: 0 auto;
  padding: var(--padding-2);
  box-shadow: var(--box-shadow);
}

.post-card h1 {
  margin-bottom: var(--margin-2);
  text-align: center;
}

.post-card p {
  color: #000;
}

.post-card .post-author {
  margin-bottom: 0.5rem;
}

.post-card .btn.delete {
  background-color: rgb(180, 24, 24);
  width: 90%;
  padding: 0.5rem 1.8rem;
}

/*******************************************/
/*              Footer Section             */
/*******************************************/

footer {
  max-width: 68rem;
  background-color: var(--primary);
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

footer p {
  color: var(--color-alt);
}

footer a {
  color: var(--color-alt);
  display: inline;
}

footer a:hover {
  cursor: pointer;
  color: #d1d1d1;
}

/*******************************************/
/*              Error Pages                 */
/*******************************************/

#error-page {
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
  text-align: center;
}

#error-page h1 {
  margin-bottom: var(--margin-2);
}

#error-page p {
  font-size: 1.2rem;
}

/*******************************************/
/*              Media Queries              */
/*******************************************/
@media (max-width: 650px) {
  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content h3 {
    font-size: 1.5rem;
  }
}
