#main-header {
  display: flex;
  height: 70px;
  max-width: 68rem;
  padding-top: var(--padding-2);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}

#main-header ul {
  display: flex;
}

#main-header ul li,
#main-header button {
  margin-inline: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#main-header button {
  width: 100%;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#main-header button:hover {
  color: var(--secondary);
}

#hamburger {
  display: none;
  z-index: 200;
  position: absolute;
  top: 3rem;
  right: 2rem;
}

.logout {
  white-space: nowrap;
}

@media (max-width: 650px) {
  #hamburger {
    display: block;
  }
  #hamburger:hover,
  #hamburger:active {
    cursor: pointer;
    color: var(--secondary);
  }

  #main-header ul {
    display: none;
    transform: translateY(-500px);
    position: absolute;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    inset: 0;
    z-index: 100;
    overflow: hidden;
    margin-top: 7rem;
  }

  #main-header ul.open {
    display: block;
    transform: translate(0);
  }

  #main-header ul.open li {
    padding: 0;
    margin: 0;
  }

  #main-header ul.open a,
  #main-header button {
    font-size: 3.5rem;
    padding: 1rem 0;
    margin: 0;
  }
}
